  slector {
    property: value;
  }
  body {
    background-color: black;
    margin-top: 200px;
    font-family: 'Inconsolata', monospace;
  }
  h1 {
    color: white;
    text-align: center;
  }
  h2 {
    color: white;
    text-align: center;
  }
  p {
    color: white;
    text-align: center;
  }
  p {
    color: white;
    text-align: center;
  }
  p {
    color: white;
    text-align: center;
  }
  a:hover {
    color: yellow;
  }
