body {
  background-color: dodgerblue;
}
.black {
  width: 100px;
  height: 100px;
  background-color: #999999;
  float: left;
}
.red {
  width: 100px;
  height: 100px;
  background-color: tomato;
  float: left;
}
.board {
  width: 800px;
  display: flow-root;
  margin: auto;
  margin-top: auto;
}
.layout {
  width: 800px;
  display: flow-root;

}

.row1 {
  width: 700px;
  height: 100px;
  background-color: red;
  margin-top: 15px;
  margin-bottom: 15px;

}
.row2 {
  width: 700px;
  height: 25px;
  background-color: red;
  margin-top: 15px;
  margin-bottom: 15px;
  }
  .row3 {
    width: 700px;
    height: 100px;
    background-color: red;
    margin-top: 15px;
    margin-bottom: 15px;
  }
.col {
  width: 200px;
  height: 300px;
  background-color: pink;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

.firstset{
  width: 500px
  display:flow-root;
}
.rec1 {
  background-color: red;
  width: 700px;
  height: 100px;
  margin-bottom: auto;
}
.sq1 {
  background-color: red;
  width: 400px;
  height: 300px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rec2 {
  width: 600px;
  height: 100px;
  background-color: red;
  margin-top: 20px;
  margin-bottom: 20px;

}
.smallrec {
  background-color: green;
  width: 200px;
  height: 100px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
