body {
  background-color: dodgerblue;
}
.black {
  width: 100px;
  height: 100px;
  background-color: #999999;
  float: left;
}
.red {
  width: 100px;
  height: 100px;
  background-color: tomato;
  float: left;
}
.board {
  width: 800px;
  display: flow-root;
  margin: auto;
  margin-top: auto;
}

.col {
  width: 100px;
  height: 300px;
  background: pink;
  margin: auto;
  margin-left: 40px
  margin-right: 40px;
  justify-content: space-between;
}
.col2 {
  width: 100px;
  height: 300px;
  background: pink;
  margin-left: 50px;
  margin-right: 50px;
  margin: auto;
}
.col3 {
  width: 100px;
  height: 300px;
  background-color: pink;
  margin-left: 60px;
  margin-right: 60px;
  margin: auto;
}
