body {
  background-color: dodgerblue;
}
.black {
  width: 100px;
  height: 100px;
  background-color: #999999;
  float: left;
}
.red {
  width: 100px;
  height: 100px;
  background-color: tomato;
  float: left;
}
.board {
  width: 800px;
  display: flow-root;
  margin: auto;
  margin-top: auto;
}

.col {
  width: 100px;
  height: 300px;
  background: pink;
  display: flow-root;
}
.col1 {
  width: 100px;
  height: 300px;
  background: pink;
  float: left;
  margin: auto;
  display: flow-root;
}
.col2 {
  width: 100px;
  height: 300px;
  background: pink;
  float: left;
  margin: auto;
  display: flow-root;
}
