selector {
  property: value;
}
body {
  font-family: 'Oswald', sans-serif;
  background-color: blue;
}
h1 {
  color: white;
  text-align: center;
}
p {
  color: white;
}
h2, h3{
  color: white;
  text-align: center;
}
