selector {
  property: value;
}
.colorfont {
  color: lightblue;
}
body {
  font-family: 'Oswald', sans-serif;
  background-color: blue;
}
h1 {
  color: gold;
  text-align: center;
}
p {
  color: white;
}
h2, h3{
  color: white;
  text-align: center;
}
li {
  color: orange;
}
